---
title: "DOPE Verify Email"
preheader: "Please confirm your email address in order to activate your account."
bodyClass: bg-white
---

<x-main>

  <div>
    <table class="m-auto font-walsheim">
      <tr>
        <td class="w-[600px] max-w-full">
          <table class="w-full">
            <tr class=" bg-[#D0F5EE33]">
              <td class="px-12 py-7 sm:px-6 text-center border-b">
                <a href="https://dope-platform.web.app/" class="text-[#16CEAA] font-bold text-3xl no-underline"
                  style="font-family: 'Open Sans', serif;">
                  DOPE
                </a>
              </td>
            </tr>


            <table class="w-full">
              <tr>
                <td></td>
                <td class="px-10 sm:px-4 ">
                  <h1
                    class="m-0 mt-6 text-4xl sm:text-3xl text-[#0E0E0E] font-walsheim text-center font-medium sm:leading-10">
                    Your OTP Code
                  </h1>

                  <h2 class="mt-10 text-primaryblue font-walsheim font-normal text-base  leading-6">
                    Hi <span class="font-medium">John Doe,</span>
                  </h2>

                  <p class="m-0 text-[#5C5C5B] font-walsheim text-base font-normal leading-6 mt-2">
                    Thank you for creating an account with DOPE!
                    <br />
                    To complete your sign up, please enter the following one-time password (OTP) on the verification
                    page:
                  </p>
                </td>
              </tr>
            </table>

            <x-spacer class="leading-2" />
            </x-v-fill>

            <table class="w-full">
              <tr>
                <td></td>
                <td class="px-10 sm:px-4 ">

                  <h2 class="text-[#0e0e0e] font-walsheim font-medium text-base leading-6">
                    [OTP Code]
                  </h2>

                  <p class="m-0 text-[#5C5C5B] font-walsheim text-base font-normal leading-6 ">
                    This code is valid for 10 minutes.
                    <br />
                    For your security, please keep this code confidential and do not share it with anyone.
                  </p>
                </td>
              </tr>
            </table>

            <x-spacer class="leading-2" />
          </x-v-fill>

          <table class="w-full">
            <tr>
              <td></td>
              <td class="px-10 sm:px-4 ">

                <h2 class="text-[#0e0e0e] font-walsheim font-medium text-base leading-6">
                  What to do next:
                </h2>

                <p class="m-0 text-[#5C5C5B] font-walsheim text-base font-normal leading-6 ">
                  Enter the code on the verification page within the <a href="https://dope-platform.web.app/signup" class="text-[#16ceaa] no-underline">app or website.</a>
                </p>
              </td>
            </tr>
          </table>

          <x-spacer class="leading-2" />
        </x-v-fill>

        <table class="w-full">
          <tr>
            <td></td>
            <td class="px-10 sm:px-4 ">

              <h2 class="text-[#0e0e0e] font-walsheim font-medium text-base leading-6">
                Having trouble?
              </h2>

              <p class="m-0 text-[#5C5C5B] font-walsheim text-base font-normal leading-6 ">
                If you're having trouble verifying your account, please visit our Help Center [link to support page] or contact us at [support email address].
                <br />
                We're happy to help!
              </p>
            </td>
          </tr>
        </table>

        <x-spacer class="leading-2" />
      </x-v-fill>

      <table class="w-full">
        <tr>
          <td></td>
          <td class="px-10 sm:px-4 ">

            <h2 class="text-[#5C5C5B] font-walsheim font-normal text-base leading-6 mb-1">
              Sincerely,
            </h2>

            <p class="m-0 text-[#0e0e0e] font-walsheim text-base font-medium">
              The DOPE Team
            </p>
          </td>
        </tr>
      </table>

            <tr role="separator">
              <td class="leading-10">&zwj;</td>
            </tr>

            <tr class="">

              <table class="w-full px-10 sm:px-4 font-walsheim">
                <tr>

                  <td>
                    <x-divider space-y="24px" />
                  </td>
                </tr>
                <tr class="flex items-baseline">
                  <td class="">
                    <a href="#" class="no-underline pr-4">
                      <img src="./images/twitter.png" alt="twitter icon" />
                    </a>
                    <a href="#" class="no-underline pr-4">
                      <img src="./images/instagram.png" alt="instagram icon">
                    </a>
                    <a href="#" class="no-underline pr-4">
                      <img src="./images/facebook.png" alt="facebook icon">
                    </a>
                    <a href="#" class="no-underline">
                      <img src="./images/email.png" alt="email icon">
                    </a>
                  </td>
                  <td class="mx-auto">
                    <p class="mb-0 text-xs font-normal text-[#5C5C5B]"><a href="#"
                        class="text-[#16CEAA] hover:cursor-pointer no-underline">Click here</a> to unsubscribe</p>
                  </td>
                </tr>
                <tr>
                  <td class="">
                    <p class="mb-2 hover:cursor-pointer"><a href="#" class="no-underline text-xs text-[#5E5E5E]">Terms
                        & Conditions</a></p>
                    <p class="mb-2 hover:cursor-pointer"><a href="#"
                        class="no-underline text-xs text-[#5E5E5E]">Privacy Policy</a></p>
                  </td>

                </tr>
              </table>


            <tr role="separator">
              <td class="leading-16 sm:leading-8">&zwj;</td>
            </tr>
            <tr>
              <td class="">
                <p class="m-0 text-xs py-4 bg-[#D0F5EE33] font-walsheim text-[#0e0e0e] text-center font-medium">
                  Copyright @ DOPE. All rights reserved
                </p>
              </td>
            </tr>
        </td>

      </tr>


    </table>
    </td>
    </tr>
    </table>
  </div>
</x-main>