---
title: "Welcome"
preheader: "Welcome to DOPE"
bodyClass: bg-white
---

<x-main>

  <div>
    <table class="m-auto font-walsheim">
      <tr>
        <td class="w-[600px] max-w-full">
          <table class="w-full">
            <tr class=" bg-[#D0F5EE33]">
              <td class="px-12 py-7 sm:px-6 text-center border-b">
                <a href="https://dope-platform.web.app/" class="text-[#16CEAA] font-bold text-3xl no-underline"
                  style="font-family: 'Open Sans', serif;">
                  DOPE
                </a>
              </td>
            </tr>


            <table class="w-full">
              <tr>
                <td></td>
                <td class="px-10 sm:px-4 ">
                  <h1
                    class="m-0 mt-6 text-4xl sm:text-3xl text-[#0E0E0E] font-walsheim text-center font-medium sm:leading-10">
                    Welcome to <span class="text-[#16CEAA]">DOPE</span>
                  </h1>

                  <h2 class="mt-10 text-primaryblue font-walsheim font-normal text-base  leading-6">
                    Hi John Doe,
                  </h2>

                  <p class="m-0 text-[#5C5C5B] font-walsheim text-base font-normal leading-6 mt-2">
                    Welcome to DOPE! We're thrilled to have you join our growing community. 
                  </p>
                  <p class="my-1 text-[#5C5C5B] font-walsheim text-base font-normal leading-6">
                    DOPE is here to help you empower you with in-demand skill and reward you for your efforts. With DOPE, you can:
                  </p>
                  <ul class="mt-0 text-[#5C5C5B] font-walsheim text-base font-normal leading-6 px-7">
                    <li>
                      Take courses
                    </li>
                    <li>
                      Earn points
                    </li>
                    <li>
                      Create league
                    </li>
                    <li>
                      Join league
                    </li>
                  </ul>
                  <p class="my-1 text-[#5C5C5B] font-walsheim text-base font-normal leading-6">
                    We're confident DOPE will become your go-to platform for learning 21st century in-demand skills.
                  </p>
                </td>
              </tr>
            </table>

            <x-spacer class="leading-2" />
            </x-v-fill>

            <table class="w-full">
              <tr>
                <td></td>
                <td class="px-10 sm:px-4 ">

                  <h2 class="text-[#0e0e0e] font-walsheim font-medium text-base leading-6">
                    Ready to get started?
                  </h2>

                  <p class="m-0 text-[#5C5C5B] font-walsheim text-base font-normal leading-6 ">
                    Click the button below to explore the app and discover all that DOPE has to offer!
                  </p>

                  <button class="bg-[#16CEAA] text-white py-2 px-5 mt-4 rounded-[50px] border-none text-base font-medium font-walsheim">
                    <a href="https://dope-platform.web.app/" class="no-underline text-white">
                      Explore DOPE
               </a>
                  </button>
                </td>
              </tr>
            </table>

            <x-spacer class="leading-2" />
          </x-v-fill>

          <table class="w-full">
            <tr>
              <td></td>
              <td class="px-10 sm:px-4 ">

                <h2 class="text-[#5C5C5B] font-walsheim font-normal text-base leading-6 mb-1">
                  Sincerely,
                </h2>

                <p class="m-0 text-[#0e0e0e] font-walsheim text-base font-medium">
                  The DOPE Team
                </p>
              </td>
            </tr>
          </table>

            <tr role="separator">
              <td class="leading-10">&zwj;</td>
            </tr>

            <tr class="">

              <table class="w-full px-10 sm:px-4 font-walsheim">
                <tr>

                  <td>
                    <x-divider space-y="24px" />
                  </td>
                </tr>
                <tr class="flex items-baseline">
                  <td class="">
                    <a href="#" class="no-underline pr-4">
                      <img src="./images/twitter.png" alt="twitter icon" />
                    </a>
                    <a href="#" class="no-underline pr-4">
                      <img src="./images/instagram.png" alt="instagram icon">
                    </a>
                    <a href="#" class="no-underline pr-4">
                      <img src="./images/facebook.png" alt="facebook icon">
                    </a>
                    <a href="#" class="no-underline">
                      <img src="./images/email.png" alt="email icon">
                    </a>
                  </td>
                  <td class="mx-auto">
                    <p class="mb-0 text-xs font-normal text-[#5C5C5B]"><a href="#"
                        class="text-[#16CEAA] hover:cursor-pointer no-underline">Click here</a> to unsubscribe</p>
                  </td>
                </tr>
                <tr>
                  <td class="">
                    <p class="mb-2 hover:cursor-pointer"><a href="#" class="no-underline text-xs text-[#5E5E5E]">Terms
                        & Conditions</a></p>
                    <p class="mb-2 hover:cursor-pointer"><a href="#"
                        class="no-underline text-xs text-[#5E5E5E]">Privacy Policy</a></p>
                  </td>

                </tr>
              </table>


            <tr role="separator">
              <td class="leading-16 sm:leading-8">&zwj;</td>
            </tr>
            <tr>
              <td class="">
                <p class="m-0 text-xs py-4 bg-[#D0F5EE33] font-walsheim text-[#0e0e0e] text-center font-medium">
                  Copyright @ DOPE. All rights reserved
                </p>
              </td>
            </tr>
        </td>

      </tr>


    </table>
    </td>
    </tr>
    </table>
  </div>
</x-main>
