/* Your custom CSS resets for email */
@import "resets";

/* Tailwind CSS components */
@import "tailwindcss/components";

/**
 * @import here any custom CSS components - that is, CSS that
 * you'd want loaded before the Tailwind utilities, so the
 * utilities can still override them.
*/

/* Tailwind CSS utility classes */
@import "tailwindcss/utilities";

/* Your custom utility classes */
@import "utilities";

@font-face {
  font-family: "walsheim";
  src: url("/src/fonts/GTWalsheimPro-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "walsheim";
  src: url("/src/fonts/GTWalsheimPro-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "walsheim";
  src: url("/src/fonts/GTWalsheimPro-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "walsheim";
  src: url("/src/fonts/GTWalsheimPro-Black.ttf");
  font-weight: 900;
}
